@import "variables";

@media screen and (min-width: 90rem) {
  .blue-shape{
    left: 1.5rem;
    max-width: 61.125rem;
    height: 46.0625rem;
  }

  .hero-section{
    flex-direction: row;
    text-align: left;
    padding-inline: 8.75rem;
    padding-block-start: 4.6875rem;
    justify-content: space-between;
    gap:6rem;
    height: 47rem;

      .text-side{
        align-items: start;
        align-self: start;
        gap: 0;

        #logo{
          margin-block-end:7.9375rem;
        }

        h1{
          font-size: $fs-64;
          margin-block-end: 2.1875rem;
          min-width:12ch;
        }

        p{
          max-width: 47ch;
        }
      }

      .form-side{
        align-self: center;
        min-height: 30.25rem;
        /* margin-block-start: 5rem; */
        /* max-height: 35.875rem; */

          .metric-unit{
            /* display: none; */
            justify-content: center;
            align-items: center;

              .metric-container{
                width: 80%;
                align-items: center;
              }
          }

          .imperial-unit{
            gap: 1.5rem;
          }

          .result{
            gap: 8rem;

            #result-BMI{
              font-size: $fs-64;
            }
          }
      }
  }

  main{
    position: relative;

      #main-shape{
        position: absolute;
        right: 10.4375rem;
        top:  2rem;
      }

      .info-BMI{
        padding-block: 4.5rem 7.5em;
        @include flex-col;
        gap: 6rem;
        padding-inline: 0;
        align-items: stretch;

        .means-result{
          gap: 6rem;
          padding-inline: 8.75rem;
          margin-block-end: 0;

          #img-BMI{
            width: 35.25rem;
            height: 34.5625rem;
            transform: none;
          }

          .info-txt{
            align-self: end;
            padding-block-end: 4rem;
            padding-inline: 0;

              h2{
                font-size: $fs-48;
              }

              p{
                max-width: 47ch;
              }
          }
        }

        .info-cards{
          padding-inline: 8.75rem;
          flex-direction: row;
          gap: 2rem;
          padding-block: 4.5rem 6rem;
          margin-inline: 1.5rem;

            .card-item{
              flex-direction: column;
              align-items: start;
              gap: 2.8125rem;
            }
        }
          
      }

      .BMI-limit{
        /* align-items: start; */
        position: relative;
        text-align: left;
        padding-inline: 8.75rem;

          .info-limit{
            text-align: left;
            align-self: start;

            h2{
              font-size: $fs-48;
              white-space: nowrap;
            }

             p{
              max-width: 55ch;
            } 

          }

          #limit-shape{
            position: absolute;
            top: 15rem;
            left: 17rem;
            z-index: 2;
          }

          .limit-cards{
            @include flex-row;
            flex-wrap: wrap;
            padding-block-start: 2rem;
            gap: 2rem;
            justify-content: end;
            padding-inline-start: 7rem;

              .card{
                max-width: 22.8125rem;
              }

              #gender-card{
                position: absolute;
                top: 0;
                right: 15rem;
                z-index: -1;
              }

              #pregnant-card,
              #race-card{
                transform: translateX(-11.4rem);
              }

          }

      }
  }
}